/.vs/
/packages/
/.vscode/
.DS_Store
*.dSYM
/*.vcxproj.user
*.aps
/obj/
/bin/
/assets/overworld/*.yaml
/assets/
/saves/*.sav
/saves/sram.dat
/saves/sram.bak
__pycache__
/src/*.o
/src/snes/*.o
